


.room_index_header{
    padding-bottom: 1.5rem!important;
    padding-top: 1.5rem!important;
 }
 
.index-table-title{
     border-top: 1px solid #eaedef;
     border-bottom: 1px solid #eaedef;
 }
 
.index-title{
     padding: 8px 15px;
     font-size: 14px;
     letter-spacing: 1px;
     text-align: center;
 }
 
.index-table-body{
     font-family: verdana, arial, helvetica, sans-serif;
     font-size: 13px;
     line-height: 18px;
     text-align:center;
 }

.index-body{
    vertical-align: middle;
    text-align: center;
}

.room-image-mini{
    width: 240px;
    height: 140px;
    object-fit: cover;
}
 