

<div class="reservation_complete_page container m-5">
<div class = "row">

    <table class="table reserved-room-show m-5">

      <tr>
        <th>
          <p class="reserved-room">予約した部屋</p>
        </th>
        <td>
          <p class="reserved_room_name"><%= @reservation.room.room_name %></p>
        </td>   
      </tr>

      <tr>
        <th>
          <p class="complete_start">開始日</p>
        </th>
        <td>
          <p class="reserved_start"><%= @reservation.start %></p>
        </td>   
      </tr>

      <tr>
        <th>
          <p class="complete_start">終了日</p>
        </th>
        <td>
          <p class="reserved_end"><%= @reservation.end_date %></p>
        </td>   
      </tr>

      <tr>
        <th>
          <p class="complete_total_fee">価格</p>
        </th>
        <td>
          <p class="reserved_fee"><%= @reservation.total %>円</p>
        </td>   
      </tr>

    </table>

</div>
</div>