<p>■パスワード再発行通知■<%= @resource.email %>!</p>

<p>お使いのメールアドレスから、パスワード再発行のリクエストが行われました。</br>
下記リンクからパスワードの再設定ができます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>※お心当たりのない場合には、本メールは破棄していただくようお願いします。</p>
<p>※変更して頂かない限りは、現在ご登録されているパスワードが有効となります。</p>
